@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header-gradient {
    background: radial-gradient(ellipse 100% 100% at 100% 0%, rgba(197, 255, 150, 0.58) 0%, transparent 65%);
}

:where(.dark, .dark *) .header-gradient {
    background: radial-gradient(ellipse 100% 100% at 100% 0%, rgba(80, 50, 160, 0.23) 0%, transparent 65%);
}